<div class="folder_container">
    <div class="webix_column webix_first col-lg-3 col-sm-3 col-xs-3 folder_link" data-url="<%= url_for admin_folder_view_path(folder.id) %>">
        <div data-href="<%= url_for admin_folder_view_path(folder.id) %>" id="folder_<%= folder.id %>" class="webix_cell folder context" data-target="#context-menu-<%= folder.id %>">
            <span class="webix_icon webix_fmanager_icon fa-folder"></span>
            <span class='folder_name'><%= folder.name %></span>
            <input type="text" name="name" value="<%= folder.name %>" class="folder_rename_input" style="display: none;" data-method="put" data-id="<%= folder.id %>" data-url="<%= url_for admin_folders_update_path(folder.id) %>"/>
        </div>
    </div>
    <div class="webix_column col-lg-3 col-sm-3 col-xs-3">
        <div class="webix_cell">
            <%= folder.updated_at %>
        </div>
    </div>
    <div class="webix_column col-lg-3 col-sm-3 col-xs-3">
        <div class="webix_cell">
            Папка
        </div>
    </div>
    <div class="webix_column col-lg-3 col-sm-3 col-xs-3">
        <div class="webix_cell">
            &nbsp;
        </div>
    </div>


</div>
<div id="context-menu-<%= folder.id %>">
    <ul class="dropdown-menu" role="menu">
        <li><a tabindex="-1" href="#" class="rename_folder" data-id="<%= folder.id %>">Переназвать</a></li>
        <li><a tabindex="-1" href="#" class="delete_folder" data-id="<%= folder.id %>" data-url="<%= url_for admin_folders_delete_path(folder.id) %>">Удалить</a></li>
        <li><a tabindex="-1" href="#" class="move_folder" data-id="<%= folder.id %>">Переместить</a></li>
    </ul>
</div>