
<div id="filesModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close_file_upload" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Загрузка файла</h4>
            </div>
            <div class="modal-body" id="file_upload">


        <%= form_for :file_upload, :url => admin_files_store_path, html: {:class => 'form', :id => 'file_upload_form'}, :method => 'post', :enctype => "multipart/form-data" do |f| %>

                    
                    <div class="form-group">
                        <%= f.label :description %>
                        <%= f.text_field :description, class: 'form-control', id: 'file_name' %>
                    </div>

                    <div class="form-group">
                        <%= f.label :file %>
                        <%= f.file_field :file, id: 'file' %>
                    </div>
                    <%= f.hidden_field :folder_id, value: 0 %>
                    <ul class="text-danger" id="file-errors" style="display: none;">
                        <li>Имя и файл - обязательные поля</li>
                    </ul>

                <% end %>
                        <div class="progress">
                        <div class="bar" style="width: 0px;"></div >
                    </div>

                    <div id="status"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default save_file">Загрузить</button>
                <button type="button" class="btn btn-default close_file_upload" data-dismiss="modal">Закрыть</button>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="<%= asset_path('/js/file_upload.js') %>"></script>
