<h1 class="container">Меню</h1>
<ul class="nav">
	<li><%= link_to "Список пользователей", users_path %></li>
	<li><%= link_to "Список файлов и папок", folders_path %></li>
	<li><%= link_to "Войти", login_path %></li>

	<li><%= link_to "Зарегистрироваться", register_path %></li>
	<li><%= link_to "Забыли пароль?", password_reset_path %></li>
	<li><%= link_to "Выйти", logout_path %></li>
</ul>